<div class="modal fade" id="index-games" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Games</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{#each games as |game|}}
        <div data-game="{{game.id}}">
          <h6>Game ID: {{game.id}}</h6>
          {{#if game.over}}
          <h6>Game Finished</h6>
          <p>Your score: {{score game.player_one_earned}}</p>
          {{else}}
          <p>Cards Remaining: {{game.deck.length}}</p>
          <button class="btn btn-info" data-load="{{game.id}}">Load Game</button>
          <!-- <button class="btn btn-danger" data-delete="{{game.id}}">Delete</button> -->
          {{/if}}
        </div>
        <hr>
        {{/each}}
      </div>
    </div>
  </div>
</div>
